.loader-container{
    position: fixed;
    z-index: 6000;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(22,22,22,0.7);
    transition: background-color .72s cubic-bezier(.4,.14,.3,1);
    // color: white;

    // .text-primary{
    //     width: 5rem;
    //     height: 5rem;
    //     margin-left: 1rem;
    // }
    .fetching-loader-container {
        background: #f4f4f4;
        color: black;
        width: 40%;
        margin-left: 10rem;
        /*padding-left: 10rem;
        padding-bottom: 2rem;*/
        margin: 0 auto;
        text-align: center;
        .error-loader-percentage {
           /* margin-left:1rem;
            margin-top:3rem;*/
            padding: 45px;
        }

    .error-status {
        display: inline-flex;
        column-gap: 5rem;
        height: 3rem;
    }
    .loader-circle{
        
    margin-bottom: -6.4rem;
    margin-left: -0.5rem;
    }

    .loader-text{
        margin-left:-1rem;
    }
}

}