.DownloadPanel{
    width: 50%;
    margin: 0 auto; 
    text-align: center;
    margin-top: 100px;
.DoneIcon{ text-align: center;}
.DoneIcon .bi-check-circle-fill{ font-size: 45px; color: rgb(4, 116, 30);}
.DonelargeTxt{ font-size: 20px;}
.DonesmallTxt{ font-size: 14px;}
.downloadLink{ font-size: 12px; padding-left: 10px; padding-top: 5px; vertical-align: bottom;}
}
.btn{
    background-color: #fd5f06!important;
}
.btn:hover{
    background-color: #ca5010!important;
}
.btn-sm{
     font-size: 14px!important;
    background-color: #fd5f06!important;    
    text-align: center;
}


